/* add your css styles here! */
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  .display-4 {
    font-family: 'Cinzel';
  }
  .display-5 {
    font-family: 'Cinzel';
  }
  .display-6 {
    font-family: 'Cormorant Garamond';
  }
  .display-7 {
    font-family: 'Cinzel';
  }
.navbar-inverse .navbar-brand {
    display: inline-block;
    align-items: center;
    padding: 5px; 
  }
  .navbar-brand img {
    height: 100%;
    margin-right: 20px;
  }
  .navbar-nav {
    margin-left: auto;
    font-family: 'Josefin Sans';
}
  .jumbotron {
    background: url("images/HeroImage.png") no-repeat center;
    background-size: cover;
    height: 100%;
  }
          .sitetitle {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.copyright-txt {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 20px;
  font-display: 'Josefin Sans' sans-serif;
}
     .card-text {
      font-family: 'Cormorant Garamond';
    }
    .text-center {
      font-family: 'Cormorant Garamond';
    }
    .btn-btn-light {
      font-family: 'Josefin Sans';
    }
    .btn {
      font-family: 'Josefin Sans';
    }
    .p {
      font-family: 'Cormorant Garamond';
      font-size: 24px;
    }
    .list {
      font-family: 'Cormorant Garamond';
      font-size: 24px;
    }
